@using squittal.LivePlanetmans.Shared.Models
@using System.Threading
@using Newtonsoft.Json
@inject HttpClient Http

@if (headToHeadReport == null || isLoadingHeadToHead == true)
{
    @if (isSelectedView == true)
    {
        <SpinnerEllipsis />
    }
}
else if (isSelectedView == true)
{
    <div class="row sq-view @SqCssHelper.GetFactionClassFromId(headToHeadReport.PlayerDetails.FactionId)">
        <div class="sq-mini-card-12">
            <h5>Enemies this Hour</h5>
            @if (headToHeadReport != null && headToHeadReport.HeadToHeadSummaries.Any() == true && isLoadingHeadToHead != true)
            {

                <div class="sq-content">
                    <table class="table-responsive-sm table-striped-light @SqCssHelper.GetFactionClassFromId(headToHeadReport.PlayerDetails.FactionId)">
                        <thead class="fit-stacked-labels">
                            <tr>
                                <th class="p-name sortable @GetSortClass(SortColumn.Player)">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.Player))">
                                        Enemy
                                    </button>
                                </th>
                                <th class="sortable @GetSortClass(SortColumn.Kills)">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.Kills))">
                                        Kills
                                    </button>
                                </th>
                                <th class="sortable @GetSortClass(SortColumn.Deaths)">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.Deaths))">
                                        Deaths
                                    </button>
                                </th>
                                <th class="stacked-label sortable @GetSortClass(SortColumn.KillDeathRatio)" title="Head-to-Head Kill-Death Ratio">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.KillDeathRatio))">
                                        <span class="small">H2H</span>
                                        <span>KDR</span>
                                    </button>
                                </th>
                                <th class="stacked-label sortable @GetSortClass(SortColumn.HeadshotRatio)" title="Head-to-Head Headshot Ratio">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.HeadshotRatio))">
                                        <span class="small">H2H</span>
                                        <span>HSR</span>
                                    </button>
                                </th>
                                <th class="stacked-label sortable @GetSortClass(SortColumn.EnemyKillDeathRatio)" title="Head-to-Head Kill-Death Ratio">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.EnemyKillDeathRatio))">
                                        <span class="small">Enemy</span>
                                        <span>KDR</span>
                                    </button>
                                </th>
                                <th class="stacked-label sortable @GetSortClass(SortColumn.EnemyHeadshotRatio)" title="Head-to-Head Headshot Ratio">
                                    <button class="btn btn-link" @onclick="@(() => OnClickColumnHeader(SortColumn.EnemyHeadshotRatio))">
                                        <span class="small">Enemy</span>
                                        <span>HSR</span>
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var player in headToHeadReport.HeadToHeadSummaries)
                            {
                                <tr class="@SqCssHelper.GetFactionClassFromId(player.EnemyDetails.FactionId)">
                                    <td class="inline-player-br">
                                        @if (string.IsNullOrWhiteSpace(player.EnemyDetails.PlayerName))
                                        {
                                            @player.EnemyDetails.PlayerId
                                        }
                                        else
                                        {
                                            <div class="player-name">@player.EnemyDetails.PlayerName </div>
                                            <div>
                                                <sup>
                                                    @(player.EnemyDetails.BattleRank)
                                                    @if (player.EnemyDetails.PrestigeLevel != 0)
                                                    {
                                                        <span class="oi oi-star small" aria-hidden="true"></span>
                                                    }
                                                </sup>
                                            </div>
                                        }
                                    </td>
                                    <td>@player.PlayerStats.Kills</td>
                                    <td>@player.PlayerStats.Deaths</td>
                                    <td>@player.PlayerStats.KillDeathRatio</td>
                                    <td>@player.PlayerStats.HeadshotRatio</td>
                                    <td>@player.EnemyStats.KillDeathRatio</td>
                                    <td>@player.EnemyStats.HeadshotRatio</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string playerId { get; set; }

    [Parameter]
    public bool isSelectedView { get; set; }

    HourlyPlayerHeadToHeadReport headToHeadReport;

    bool isLoadingHeadToHead = false;
    CancellationTokenSource cts;

    string renderedPlayerId;

    SortColumn _sortColumn;
    SortDirection _sortDirection;

    protected override async Task OnInitializedAsync()
    {
        UpdateReportSortInfo();
        await OnPlayerIdChange();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (playerId != renderedPlayerId && !string.IsNullOrEmpty(playerId))
        {
            renderedPlayerId = playerId;
            await OnPlayerIdChange();
        }
    }

    private async Task OnPlayerIdChange()
    {
        if (!string.IsNullOrWhiteSpace(playerId))
        {
            // If a process is already underway, cancel it
            if (cts != null)
            {
                cts.Cancel();
            }

            // Set cts to cancel the current process if another table refresh is requested
            CancellationTokenSource newCTS = new CancellationTokenSource();
            cts = newCTS;

            try
            {
                isLoadingHeadToHead = true;
                HttpResponseMessage response = await Http.GetAsync($"api/PlayerHourlyHeadToHead/h2h/{playerId}", cts.Token);

                if (response != null)
                {
                    var jsonString = await response.Content.ReadAsStringAsync();
                    cts.Token.ThrowIfCancellationRequested();
                    headToHeadReport = JsonConvert.DeserializeObject<HourlyPlayerHeadToHeadReport>(jsonString);

                    headToHeadReport.SortByDefaults();
                }
                StateHasChanged();

            }
            catch (OperationCanceledException)
            {
                // Ignore
            }
            catch (Exception)
            {
                // Ignore
            }
            finally
            {
                UpdateReportSortInfo();
                isLoadingHeadToHead = false;
            }

            // When the process is complete, signal that another process can proceed
            if (cts == newCTS)
            {
                cts = null;
            }
        }
    }

    void UpdateReportSortInfo()
    {
        if (headToHeadReport != null)
        {
            _sortColumn = headToHeadReport.SortColumn;
            _sortDirection = headToHeadReport.SortDirection;
        }
        else
        {
            _sortColumn = HourlyPlayerHeadToHeadReport.DefaultSortColumn;
            _sortDirection = HourlyPlayerHeadToHeadReport.DefaultSortDirection;
        }
    }

    void OnClickColumnHeader(SortColumn selectedColumn)
    {
        headToHeadReport.SortByColumn(selectedColumn);
        UpdateReportSortInfo();
        //StateHasChanged();
    }

    string GetSortClass(SortColumn column)
    {
        if (column == _sortColumn)
        {
            return _sortDirection == SortDirection.Ascending
                ? "sorted-ascending"
                : "sorted-descending";
        }
        else
        {
            return "sorted-none";
        }
    }
}
