@using squittal.LivePlanetmans.Shared.Models
@using System.Threading
@using Newtonsoft.Json
@inject HttpClient Http

@if (details != null)
{
    <div id="details-header" class="header"> @*style="font-family: 'Roboto Mono'; display: grid; grid-template-columns: 1.5fr 1fr 80px; grid-template-rows: 1fr; border-top: 2px solid @GetFactionColorFromId(_playerFactionId); border-top-left-radius: 0.2rem; border-top-right-radius: 0.2rem; padding: 5px 10px;">*@
        <div class="h2" style="margin-bottom: 0px; word-wrap: break-word; grid-column: 1 / 3;">
            <a href="@GetUrlFromCharacterName(details.PlayerName)" title="Open fisu player profile" target="_blank" style="color:@GetFactionColorFromId(_playerFactionId);">
                @details.PlayerName
                <span class="h6 oi oi-external-link" style="opacity: 0.5;"></span>
            </a>
        </div>

        <div style="text-align: right;">
            <span class="h6">@details.BattleRank</span>
            @if (details.PrestigeLevel != 0)
            {
                <span class="oi oi-star small h6" style="color: #F8BA0F; vertical-align: middle; font-size: 0.8rem; margin-bottom: 0.5rem;" aria-hidden="true"></span>
            }
            <div class="text-muted" style="font-size: 0.75rem; font-weight: 300; margin-top: -0.3rem;">Battle Rank</div>
        </div>

        @if (details != null)
        {
            <div style="color: @GetFactionColorFromId(_playerFactionId); grid-row: 2; font-size: 0.8rem;">
                @if (!string.IsNullOrWhiteSpace(details.TitleName))
                {
                    <span>@details.TitleName of the </span>
                }
                <span>@details.FactionName on @details.WorldName</span>
            </div>

            @if (details.OutfitName != null)
            {
                <div style="color: @GetFactionColorFromId(_playerFactionId); grid-row: 2; grid-column: 2 / 4; text-align: right; font-size: 0.8rem;">
                    @if (!string.IsNullOrWhiteSpace(details.OutfitAlias))
                    {
                        <span style="font-size: 0.7rem; font-weight: 400;">[@(details.OutfitAlias)] </span>
                    }
                    <span>@(details.OutfitName) </span>
                    <span class="oi oi-caret-right small" style="font-size: 0.5rem; top: 0px; padding: 0 0.3125rem;"></span><span> @details.OutfitRankName</span>
                </div>
            }

        }

    </div>
}

@code {
    [Parameter]
    public string playerId { get; set; }

    [Parameter]
    public int playerFactionId { get; set; }

    PlayerDetails details;

    bool isLoadingDetails = false;
    CancellationTokenSource cts;

    string renderedPlayerId;

    private int _playerFactionId;


    protected override async Task OnInitializedAsync()
    {
        await OnPlayerIdChange();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (playerId != renderedPlayerId && !string.IsNullOrEmpty(playerId))
        {
            renderedPlayerId = playerId;
            _playerFactionId = playerFactionId;

            await OnPlayerIdChange();
        }
    }

    private async Task OnPlayerIdChange()
    {
        if (!string.IsNullOrWhiteSpace(playerId))
        {
            // If a process is already underway, cancel it
            if (cts != null)
            {
                cts.Cancel();
            }

            // Set cts to cancel the current process if another table refresh is requested
            CancellationTokenSource newCTS = new CancellationTokenSource();
            cts = newCTS;

            try
            {
                isLoadingDetails = true;
                HttpResponseMessage response = await Http.GetAsync($"api/PlayerDetails/details/{playerId}", cts.Token);

                if (response != null)
                {
                    var jsonString = await response.Content.ReadAsStringAsync();
                    cts.Token.ThrowIfCancellationRequested();
                    details = JsonConvert.DeserializeObject<PlayerDetails>(jsonString);

                    _playerFactionId = details.FactionId;
                }
                StateHasChanged();
            }
            catch (OperationCanceledException)
            {
                // Debug.WriteLine($"Operation cancelled: api/PlayerHourlyLoadouts/h2h/{playerId}");
            }
            catch (Exception)
            {
                //Ignore
            }
            finally
            {
                isLoadingDetails = false;
            }

            // When the process is complete, signal that another process can proceed
            if (cts == newCTS)
            {
                cts = null;
            }
        }
    }

    string GetUrlFromCharacterName(string characterName)
    {
        return $"https:/ps2.fisu.pw/player/?name={characterName.ToLower()}";
    }

    string GetFactionColorFromId(int? factionId)
    {
        string color = "#27273A"; // 2F2F2F";

        switch (factionId)
        {
            //VS
            case 1:
                color = "#652fdc"; // 6A4CE0";
                break;

            //NC
            case 2:
                color = "#1e62fc"; // 1E99FC"; // 5700FE"; //1E99FC";
                break;

            //TR
            case 3:
                color = "#e04c70"; // FF6C70";
                break;
        }

        return color;
    }

    string GetFactionLightColorFromId(int? factionId)
    {
        string color = "var(--sq-ps2-ns-primary-light)"; //#a4a4c2"; // 27273A"; //"FFF2F0";

        switch (factionId)
        {
            //VS
            case 1:
                color = "var(--sq-ps2-vs-primary-light)"; //#CABCFF";
                break;

            //NC
            case 2:
                color = "var(--sq-ps2-nc-primary-light)"; //#B6DDFD";
                break;

            //TR
            case 3:
                color = "var(--sq-ps2-tr-primary-light)"; //#FFD2D3";
                break;
        }

        return color;
    }

    string GetFactionLightAlphaColorFromId(int? factionId)
    {
        string color = "var(--sq-ps2-ns-primary-light-alpha)"; //#a4a4c2"; // 27273A"; //"FFF2F0";

        switch (factionId)
        {
            //VS
            case 1:
                color = "var(--sq-ps2-vs-primary-light-alpha)"; //#CABCFF";
                break;

            //NC
            case 2:
                color = "var(--sq-ps2-nc-primary-light-alpha)"; //#B6DDFD";
                break;

            //TR
            case 3:
                color = "var(--sq-ps2-tr-primary-light-alpha)"; //#FFD2D3";
                break;
        }

        return color;
    }

    string GetFactionClassFromId(int? factionId)
    {
        string cssClass = "ns"; //table-striped-striped var(--sqp-ps2-ns-primary-light)"; //#a4a4c2"; // 27273A"; //"FFF2F0";

        switch (factionId)
        {
            //VS
            case 1:
                cssClass = "vs"; // var(--sqp-ps2-vs-primary-light)"; //#CABCFF";
                break;

            //NC
            case 2:
                cssClass = "nc"; // var(--sqp-ps2-nc-primary-light)"; //#B6DDFD";
                break;

            //TR
            case 3:
                cssClass = "tr"; // var(--sqp-ps2-tr-primary-light)"; //#FFD2D3";
                break;
        }

        return cssClass;
    }
}
