@page "/playerstats"
@page "/playerstats/{characterId}"
@using squittal.LivePlanetmans.Shared.Models
@inject HttpClient Http


@if (string.IsNullOrWhiteSpace(characterId))
{
    <h2>Player Details</h2>
    <p><em>Select a player</em></p>
}
else
{
    //<p>@*Player ID: @characterId*@</p>
    @if (player != null)
    {
        <div class="h2" style="margin-bottom: 0px; word-wrap: break-word;">
            <a href="@GetUrlFromCharacterName(player.Name)" target="_blank" style="color:@GetFactionColorFromId(player.FactionId);">
                @player.Name
                <span class="h6 oi oi-external-link"></span>
            </a>
            
        </div>
        <div>
            <a href="@GetUrlFromCharacterId(player.Id)" class="text-muted h6" target="_blank">
                @player.Id
                <span class="h6 oi oi-external-link" style="font-size: 60%;"></span>
            </a>
        </div>
        <p>
            @*<h2>@player.Name</h2><span>[@player.Id]</span>*@
            <b>Faction </b>@player.FactionId
            <b>Rank </b>@player.BattleRank~@player.PrestigeLevel
        </p>
    }

    <h5>Kills This Hour</h5>
    @if (kills == null || isLoadingKillboard == true)
    {
        <p class="text-muted"><em>Loading killboard...</em></p>
    }
    else
    {
        <div style="max-height: 400px; overflow: auto;">
            <table class="table-responsive-sm table" style="font-size: 0.85rem !important;">
                <tbody>
                    @foreach (var kill in kills)
                    {
                        <tr style="background-color:@GetRowBgColor(kill.VictimId, kill.VictimFactionId); color:@GetKillboardTextColor(kill.AttackerId, kill.AttackerFactionId, kill.VictimFactionId);">
                            <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; max-width: 30px;  width: 1rem;">
                                @if (kill.IsHeadshot == true)
                                {
                                    <span class="oi small oi-target" aria-hidden="true" style="padding-left: 0.3125rem; padding-right: 0.3125rem;"></span>
                                }
                            </td>
                            <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 5px; max-width: 55px; width: 1rem;">
                                @if (kill.VictimId == characterId)
                                {
                                    @((string.IsNullOrWhiteSpace(kill.AttackerOutfitAlias)) ? "" : $"[{kill.AttackerOutfitAlias}]")
                                }
                                else
                                {
                                    @((string.IsNullOrWhiteSpace(kill.VictimOutfitAlias)) ? "" : $"[{kill.VictimOutfitAlias}]")
                                }
                            </td>
                            <td style="padding-top: 0.1rem; padding-bottom: 0.1rem;">
                                @if (kill.VictimId == characterId)
                                {
                                    @*@kill.AttackerName*@
                                    <div style="display: inline-block; max-width: 250px; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom;">@kill.AttackerName</div>
                                    <div style="display: inline-block;"><sup> @(kill.AttackerBattleRank) @((kill.AttackerPrestigeLevel == 0) ? "" : $"~{kill.AttackerPrestigeLevel}")</sup></div>
                                }
                                else
                                {
                                    @*@kill.VictimName*@
                                    <div style="display: inline-block; max-width: 250px; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom;">@kill.VictimName</div>
                                    <div style="display: inline-block;"><sup> @(kill.VictimBattleRank) @((kill.VictimPrestigeLevel == 0) ? "" : $"~{kill.VictimPrestigeLevel}")</sup></div>
                                }
                                </td>
                            <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; min-width: 105px; max-width: 110px; width: 7rem;">
                                @((kill.KillTimestamp - TimeSpan.FromHours(5)).ToLongTimeString())
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    Character player;

    PlayerKillboardItem[] kills;

    int fetchTries = 0;
    bool isLoadingKillboard = false;

    [Parameter]
    public string characterId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await OnPlayerIdChange();
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnPlayerIdChange();
    }

    private async Task OnPlayerIdChange()
    {
        fetchTries += 1;
        if (!string.IsNullOrWhiteSpace(characterId) && isLoadingKillboard != true)
        {
            isLoadingKillboard = true;
            try
            {
                Task<Character> playerTask = Http.GetJsonAsync<Character>($"api/PlayerDetails/{characterId}");
                Task<PlayerKillboardItem[]> killsTask = Http.GetJsonAsync<PlayerKillboardItem[]>($"api/PlayerDetails/kills/{characterId}");
                player = await playerTask;
                StateHasChanged();
                kills = await killsTask;
                StateHasChanged();
            }
            catch (Exception)
            {
                //Ignore
            }
            isLoadingKillboard = false;
        }
    }

    string GetUrlFromCharacterId(string characterId)
    {
        //return $"https:/www.planetside2.com/players/#!/{characterId}";
        return $"https:/voidwell.com/ps2/player/{characterId}";
    }

    string GetUrlFromCharacterName(string characterName)
    {
        return $"https:/ps2.fisu.pw/player/?name={characterName.ToLower()}";
    }

    string GetRowBgColor(string victimId, int? victimFactionId)
    {
        if (victimId == characterId)
        {
            return "#F9D3D6"; // FFD2E350"; //FFD2D3";
        }
        else if (victimFactionId != null && victimFactionId == player.FactionId)
        {
            return "#FEF9BF";
        }
        else
        {
            return "";
        }
    }

    string GetKillboardTextColor(string attackerId, int? attackerFactionId, int? victimFactionId)
    {
        int? factionId = (attackerId == player.Id) ? victimFactionId : attackerFactionId;

        return GetFactionColorFromId(factionId);
    }

    string GetFactionColorFromId(int? factionId)
    {
        string color = "#2F2F2F";

        switch (factionId)
        {
            //VS
            case 1:
                color = "#6A4CE0";
                break;

            //NC
            case 2:
                color = "#1E99FC";
                break;

            //TR
            case 3:
                color = "#FF6C70";
                break;
        }

        return color;
    }

}
