@page "/"
@page "/leaderboard"
@page "/activity"
@using squittal.LivePlanetmans.Shared.Models
@using System.Timers
@using System.Linq
@using System.Threading
@using Microsoft.AspNetCore.WebUtilities @*for QueryHelpers*@
@using System.Diagnostics
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 leaderboard-card">
            <div class="h2 header-container">

                @* Leaderboard Title *@
                @if (!string.IsNullOrWhiteSpace(selectedWorldName))
                {
                    <div class="sq-header">@selectedWorldName Top Players</div>
                }
                else
                {
                    <div class="sq-header">
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                        <div class="placeholder"></div>
                    </div>
                }


                @* Refresh Button *@
                @if (players == null)
                {
                    <button class="btn btn-outline-primary btn-sm refresh placeholder"></button>
                }
                else
                {
                    <button class="btn btn-outline-primary btn-sm refresh" @onclick="RefreshTableManual">Refresh</button>
                }

                @* Server Select Menu *@
                @if (worlds == null)
                {
                    <div class="styled-select placeholder">Server</div>
                }
                else
                {
                    <div class="styled-select">
                        <select id="worldSelect" @onchange="OnWorldIdChange" class="btn-sm">
                            <option value="" class="pre-text">Server</option>
                            @foreach (var world in worlds)
                            {
                                @if (world.Id != 25) //RIP Briggs
                                {
                                    <option value="@world.Id.ToString()">@world.Name</option>
                                }
                            }
                        </select>
                    </div>
                }

                @* Last Refresh*@
                @if (players != null && isChangingWorld == false)
                {
                    <span class="sub-header muted" >
                        Last Refresh: @lastRefreshTime.ToLongTimeString()

                        @if (isLoading == true)
                        {
                            <span class="temp">[loading...]</span>
                        }

                        @if (!string.IsNullOrWhiteSpace(errorMessage))
                        {
                            <span class="oi oi-warning small" title="#@errorCount @errorMessage"></span>
                        }

                    </span>
                }
                else
                {
                    <div class="sub-header">
                        <span class="placeholder"></span>
                        <span class="placeholder"></span>
                    </div>
                }

            </div>

            <div class="card-body">
                    <table class="leaderboard-table">
                        <thead>
                            <tr>
                                <th class="icon"></th> 
                                <th class="alias"></th>
                                <th class="p-name">Player</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>KDR</th>
                                <th>KPM</th>
                                <th>HSR</th>
                                <th class="gap-left stacked-label">
                                    <span class="small">Session</span>
                                    <span>KPM</span>
                                </th>
                                <th class="stacked-label med">
                                    <span class="small">Play<br></span>
                                    <span>Time</span>    
                                </th>
                            </tr>
                        </thead>
                        @if (players != null && isChangingWorld != true)
                        {
                            <tbody>
                                @foreach (var player in players)
                                {
                                <tr style="color: @GetFactionColorFromId(player.FactionId);">
                                    @if (player.IsOnline == true)
                                    {
                                        <td class="emoji-container">
                                            <div title="Online: @player.LatestZoneName" class="emoji">@GetZoneDisplayEmoji(player.LatestZoneName)</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="icon-container">
                                            <span title="Offline" class="oi oi-moon small"></span>
                                        </td>
                                    }
                                        <td class="alias">
                                            @((string.IsNullOrWhiteSpace(player.OutfitAlias)) ? "" : $"[{player.OutfitAlias}]")
                                        </td>

                                        <td>
                                            <button class="btn btn-link inline-player-br" style="color: @GetFactionColorFromId(player.FactionId);" @onclick="@(() => OnSelectPlayer(player.PlayerId))" title="Open details for @player.PlayerName">
                                                @if (string.IsNullOrWhiteSpace(player.PlayerName))
                                                {
                                                    @player.PlayerId
                                                }
                                                else
                                                {
                                                    <div class="player-name">@player.PlayerName </div>
                                                    <div>
                                                        <sup>
                                                            @(player.BattleRank)
                                                            @if (player.PrestigeLevel != 0)
                                                            {
                                                                <span class="oi oi-star small" aria-hidden="true"></span>
                                                            }
                                                        </sup>
                                                    </div>
                                                }
                                            </button>
                                        </td>

                                        <td>@player.Kills</td>
                                        <td>@player.Deaths</td>
                                        <td>@player.KillDeathRatio</td>
                                        <td>@player.KillsPerMinute</td>
                                        <td>@player.HeadshotRatio</td>
                                        <td class="med">
                                            @((player.SessionKillsPerMinute != null) ? player.SessionKillsPerMinute.ToString() : "-")
                                        </td>
                                        <td title="@GetSessionDisplayTimes(player)">@GetSessionDurationDisplay(player)</td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                @*}*@


                @if (players == null || isChangingWorld == true)
                {
                    <SpinnerEllipsis />

                }
            </div>

        </div>

        <div id="player-details" class="sq-card col-lg-6 @GetPlayerDetailsPanelClass() @GetFactionClassFromId(_selectedPlayerFactionId)">
            <PlayerDetailsPanel playerId="@playerId" playerFactionId=@_selectedPlayerFactionId OnKillboardPlayerSelected="KillboardPlayerSelected"/>
        </div>
    </div>
        
</div>


@code {
    [Parameter]
    public int worldId { get; set; } = 17;

    [Parameter]
    public string playerId { get; set; } = "";

    Zone[] zones;
    World[] worlds;
    string selectedWorldName = "";

    CancellationTokenSource cts;

    PlayerHourlyStatsData[] players;
    bool isLoading = false;
    bool isChangingWorld = false;
    bool isInitialized = false;
    bool isInitializedAsync = false;

    DateTime lastRefreshTime;
    string errorMessage = "";
    int errorCount = 0;

    System.Timers.Timer autoRefreshTimer;

    string selectedPlayer = "";

    private int _selectedPlayerFactionId;


    protected override void OnInitialized()
    {
        if (isInitialized == true) { return; }
        isInitialized = true;

        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("worldId", out var qWorldId))
        {
            worldId = Int32.Parse(qWorldId.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("playerId", out var qPlayerId))
        {
            playerId = qPlayerId.First();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (isInitializedAsync == true) { return; }
        isInitializedAsync = true;

        var InitTaskList = new List<Task>();

        Task worldsTask = SetUpWorlds();
        InitTaskList.Add(worldsTask);
        Task zonesTask = SetUpZones();
        InitTaskList.Add(zonesTask);

        await Task.WhenAll(InitTaskList);
    }

    protected override async Task OnParametersSetAsync()
    {
        await ChangeSelectedWorld(worldId);
        if (!string.IsNullOrWhiteSpace(playerId))
        {
            OnSelectPlayer(playerId);
        }

        StateHasChanged();
    }

    async Task SetUpWorlds()
    {
        worlds = await Http.GetJsonAsync<World[]>("api/Worlds");
        if (worlds.Any() == true)
        {
            selectedWorldName = worlds.Where(w => w.Id == worldId).Select(w => w.Name).FirstOrDefault();
        }
    }

    async Task SetUpZones()
    {
        zones = await Http.GetJsonAsync<Zone[]>("api/Zones");
    }

    async Task ChangeSelectedWorld(int newWorldId)
    {
        worldId = newWorldId;

        if (worlds.Any() == true)
        {
            isChangingWorld = true;
            if (autoRefreshTimer != null)
            {
                autoRefreshTimer.Stop();
            }
            selectedWorldName = worlds.Where(w => w.Id == worldId).Select(w => w.Name).FirstOrDefault();
            if (!string.IsNullOrWhiteSpace(playerId))
            {
                NavigationManager.NavigateTo($"/activity?worldId={worldId}&playerId={playerId}");
            }
            else
            {
                NavigationManager.NavigateTo($"/activity?worldId={worldId}");
            }
            await RefreshTable("ChangedSelectedWorld");
            isChangingWorld = false;
        }

    }

    async Task RefreshTableManual()
    {
        await RefreshTable("Manual");
    }

    async Task RefreshTable(string source)
    {
        if (isLoading != true || isChangingWorld == true)
        {
            isLoading = true;
            Debug.WriteLine($"Table Refresh requested by {source} with worldId={worldId} & playerId={playerId}");

            if (autoRefreshTimer != null)
            {
                autoRefreshTimer.Stop();
                Debug.WriteLine("Stopped AutoRefresh Timer");
            }

            // If a process is already underway, cancel it
            if (cts != null)
            {
                cts.Cancel();
            }

            // Set cts to cancel the current process if another table refresh is requested
            CancellationTokenSource newCTS = new CancellationTokenSource();
            cts = newCTS;

            try
            {
                isLoading = true;

                DateTime start = DateTime.UtcNow;
                Debug.WriteLine($"Fetching leaderboard data for world {worldId}");

                HttpResponseMessage response = await Http.GetAsync($"api/PlayerLeaderboard/{worldId}", cts.Token);

                if (response != null)
                {
                    DateTime end1 = DateTime.UtcNow;
                    var elapsed1 = (int)(end1 - start).TotalMilliseconds;

                    Debug.WriteLine($"Elapsed1 = {elapsed1}ms");

                    var jsonString = await response.Content.ReadAsStringAsync();
                    cts.Token.ThrowIfCancellationRequested();
                    Debug.WriteLine($"Deserializing players object");
                    players = JsonConvert.DeserializeObject<PlayerHourlyStatsData[]>(jsonString);

                    ResolveLatestZoneNames();

                    _selectedPlayerFactionId = players.Where(p => p.PlayerId == playerId).Select(p => p.FactionId).FirstOrDefault();
                }

                DateTime end = DateTime.UtcNow;
                var elapsed = (int)(end - start).TotalMilliseconds;
                Debug.WriteLine($"Finished fetching leaderboard data for world {worldId} in {elapsed}ms");

                lastRefreshTime = (DateTime.Now);

                isLoading = false;
                isChangingWorld = false;
                StateHasChanged();
                Debug.WriteLine("Refreshed Table StateHasChanged!");
                GetNewAutoRefreshTimer();
            }
            catch (OperationCanceledException)
            {
                Debug.WriteLine($"Operation cancelled ({worldId})");
            }

            catch (Exception ex)
            {
                errorMessage = $"error: {ex}";
                errorCount += 1;
            }

            // When the process is complete, signal that another process can proceed
            if (cts == newCTS)
            {
                cts = null;
            }
        }
    }

    void ResolveLatestZoneNames()
    {
        if (players.Any() == true)
        {
            foreach (var player in players)
            {
                player.LatestZoneName = zones.FirstOrDefault(z => z.Id == player.LatestZoneId)?.Name ?? string.Empty;
            }
        }
    }

    void GetNewAutoRefreshTimer()
    {
        Debug.WriteLine($"Getting new AutoRefresh Timer (isLoading={isLoading}, isChangingWorld={isChangingWorld})");
        autoRefreshTimer = new System.Timers.Timer(10000);
        autoRefreshTimer.Elapsed += async (sender, e) => await OnAutoRefreshTimeElapsed(worldId);
        autoRefreshTimer.AutoReset = true; //TODO: should this be false?
        autoRefreshTimer.Enabled = true;
        Debug.WriteLine($"Finished getting new AutoRefresh Timer (isLoading={isLoading}, isChangingWorld={isChangingWorld})");
    }

    async Task OnAutoRefreshTimeElapsed(int initWorldId)
    {
        Debug.WriteLine($"AutoRefreshTimerElapsed ({initWorldId} / {worldId})");

        if (isLoading != true && isChangingWorld != true && (autoRefreshTimer != null && autoRefreshTimer.Enabled == true))
        {
            try
            {
                await RefreshTable($"AutoRefreshTimerElapsed ({initWorldId} / {worldId})");
            }
            catch (Exception)
            {
                //Ignore
            }
        }
        StateHasChanged();
    }

    string GetUrlFromCharacterId(string characterId)
    {
        return $"https:/www.planetside2.com/players/#!/{characterId}";
    }

    string GetUrlFromCharacterName(string characterName)
    {
        return $"https:/ps2.fisu.pw/player/?name={characterName.ToLower()}";
    }

    void OnSelectPlayer(string characterId)
    {
        selectedPlayer = characterId;
        playerId = selectedPlayer;

        _selectedPlayerFactionId = players.Where(p => p.PlayerId == playerId).Select(p => p.FactionId).FirstOrDefault();

        NavigationManager.NavigateTo($"/activity?worldId={worldId}&playerId={playerId}");
    }

    async void OnWorldIdChange(ChangeEventArgs eventArgs)
    {
        var newWorldId = eventArgs.Value.ToString();

        Debug.WriteLine($"ChangedSelectedWorld: {worldId} => {newWorldId}");

        if (!string.IsNullOrWhiteSpace(newWorldId) && newWorldId != "Server")
        {
            worldId = Int32.Parse(newWorldId);
        }

        await ChangeSelectedWorld(worldId);
    }

    public void KillboardPlayerSelected(string characterId)
    {
        OnSelectPlayer(characterId);
    }

    DateTime GetSessionStartTime(PlayerHourlyStatsData player)
    {
        return (player.LatestLoginTime ?? player.QueryStartTime);
    }

    DateTime GetSessionEndTime(PlayerHourlyStatsData player)
    {
        var sessionEndTime = (player.LatestLogoutTime ?? player.QueryNowUtc);

        if (sessionEndTime <= GetSessionStartTime(player))
        {
            sessionEndTime = player.QueryNowUtc;
        }

        return sessionEndTime;
    }

    string GetSessionDurationDisplay(PlayerHourlyStatsData player)
    {
        var duration = (GetSessionEndTime(player) - GetSessionStartTime(player));

        var totalMinutes = (int)Math.Round(duration.TotalMinutes, 0);

        int hours = (totalMinutes / 60);

        var remainder = totalMinutes - (hours * 60);

        string hoursDisplay = (hours > 0) ? $"{hours}h" : string.Empty;
        string minutesDisplay = (remainder > 0) ? $"{remainder}m" : string.Empty;
        string space = (hours > 0 && remainder > 0) ? " " : string.Empty;

        return $"{hoursDisplay}{space}{minutesDisplay}";
    }

    string GetSessionDisplayTimes(PlayerHourlyStatsData player)
    {
        var startTime = GetSessionStartTime(player);
        var endTime = GetSessionEndTime(player);

        bool endIsNow = (endTime == player.QueryNowUtc);
        bool sameDates = (startTime.Date == endTime.Date);

        startTime = DateTime.SpecifyKind(startTime, DateTimeKind.Utc);
        endTime = DateTime.SpecifyKind(endTime, DateTimeKind.Utc);

        if (sameDates == true)
        {
            return endIsNow
                ? $"{(TimeZoneInfo.ConvertTimeFromUtc(startTime, TimeZoneInfo.Local)).ToShortTimeString()} - Now"
                : $"{(TimeZoneInfo.ConvertTimeFromUtc(startTime, TimeZoneInfo.Local)).ToShortTimeString()} - {(TimeZoneInfo.ConvertTimeFromUtc(endTime, TimeZoneInfo.Local)).ToShortTimeString()}";
        }
        else
        {
            return endIsNow
                ? $"{(TimeZoneInfo.ConvertTimeFromUtc(startTime, TimeZoneInfo.Local)).ToString("M")} {(TimeZoneInfo.ConvertTimeFromUtc(startTime, TimeZoneInfo.Local)).ToShortTimeString()} - Now"
                : $"{(TimeZoneInfo.ConvertTimeFromUtc(startTime, TimeZoneInfo.Local)).ToString("M")} {(TimeZoneInfo.ConvertTimeFromUtc(startTime, TimeZoneInfo.Local)).ToShortTimeString()} - {(TimeZoneInfo.ConvertTimeFromUtc(endTime, TimeZoneInfo.Local)).ToString("M")} {(TimeZoneInfo.ConvertTimeFromUtc(endTime, TimeZoneInfo.Local)).ToShortTimeString()}";
        }

    }

    string GetPlayerDetailsPanelClass()
    {
        return (!string.IsNullOrWhiteSpace(playerId)) ? "details" : "pre-text";
    }

    string GetFactionClassFromId(int? factionId)
    {
        string cssClass;

        switch (factionId)
        {
            case 1:
                cssClass = "vs";
                break;

            case 2:
                cssClass = "nc";
                break;

            case 3:
                cssClass = "tr";
                break;

            case 4:
                cssClass = "ns";
                break;

            default:
                cssClass = "ns";
                break;
        }

        return cssClass;
    }

    string GetZoneDisplayEmoji(string zoneName)
    {
        switch (zoneName)
        {
            case "Amerish":
                return "🗻";

            case "Esamir":
                return "❄️";

            case "Hossin":
                return "🌳";

            case "Indar":
                return "☀️";

            default:
                return "❔";
        }
    }

    string GetFactionColorFromId(int factionId)
    {
        string color = "#27273A";

        switch (factionId)
        {
            //VS
            case 1:
                color = "#652fdc"; // 6A4CE0";
                break;

            //NC
            case 2:
                color = "#1e62fc"; // 1E99FC"; // 5700FE"; //1E99FC";
                break;

            //TR
            case 3:
                color = "#e04c70"; // FF6C70";
                break;

            //NS
            case 4:
                color = "var(--sq-ns-primary)";
                break;
        }

        return color;
    }

    string GetLeaderboardPlayerString(PlayerHourlyStatsData player)
    {
        string name = (!string.IsNullOrWhiteSpace(player.PlayerName)) ? player.PlayerName : player.PlayerId;

        string outfit = (!string.IsNullOrWhiteSpace(player.OutfitAlias)) ? $"[{player.OutfitAlias}]" : "";

        string br = (player.PrestigeLevel == 0) ? $"[BR {player.BattleRank}]" : $"[BR {player.BattleRank}*1]";

        return $"{name} {br}";
    }
}
