@page "/playerstats"
@using squittal.LivePlanetmans.Client.Pages.PlayerDetailsViews
@using squittal.LivePlanetmans.Shared.Models
@using System.Diagnostics
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (string.IsNullOrWhiteSpace(playerId))
{
    <div style="padding: 10px;">

        <div class="text-muted" style="margin: 25%; font-size: 1.5rem; text-align: center; display: grid; grid-template-columns: 2rem 1fr; align-items: center; line-height: 1.5rem;">
            <div style="display: inline block;" class="oi oi-arrow-thick-left large"></div>
            <div style="display: inline-block;">
                <em>Select a player to see hourly stats & session details</em>
            </div>
        </div>

    </div>
}
else
{
    @if (player != null)
    {
        <div id="details-header" style="font-family: 'Roboto Mono'; display: grid; grid-template-columns: 1.5fr 1fr 80px; grid-template-rows: 1fr; border-top: 2px solid @GetFactionColorFromId(player.FactionId); border-top-left-radius: 0.2rem; border-top-right-radius: 0.2rem; padding: 5px 10px;">
            <div class="h2" style="margin-bottom: 0px; word-wrap: break-word; grid-column: 1 / 3;">
                <a href="@GetUrlFromCharacterName(player.Name)" title="Open fisu player profile" target="_blank" style="color:@GetFactionColorFromId(player.FactionId);">
                    @player.Name
                    <span class="h6 oi oi-external-link" style="opacity: 0.5;"></span>
                </a>
            </div>

            <div style="text-align: right;">
                <span class="h6">@player.BattleRank</span>
                @if (player.PrestigeLevel != 0)
                {
                    <span class="oi oi-star small h6" style="color: #F8BA0F; vertical-align: middle; font-size: 0.8rem; margin-bottom: 0.5rem;" aria-hidden="true"></span>
                }
                <div class="text-muted" style="font-size: 0.75rem; font-weight: 300; margin-top: -0.3rem;">Battle Rank</div>
            </div>

            @if (stats != null)
            {
                <div style="color: @GetFactionColorFromId(player.FactionId); grid-row: 2; font-size: 0.8rem;">
                    @if (!string.IsNullOrWhiteSpace(stats.TitleName))
                    {
                        <span>@stats.TitleName of the </span>
                    }
                    <span>@stats.FactionName on @stats.WorldName</span>
                </div>

                @if (stats.OutfitName != null)
                {
                    <div style="color: @GetFactionColorFromId(player.FactionId); grid-row: 2; grid-column: 2 / 4; text-align: right; font-size: 0.8rem;">
                        @if (!string.IsNullOrWhiteSpace(stats.OutfitAlias))
                        {
                            <span style="font-size: 0.7rem; font-weight: 400;">[@(stats.OutfitAlias)] </span>
                        }
                        <span>@(stats.OutfitName) </span>
                        <span class="oi oi-caret-right small" style="font-size: 0.5rem; top: 0px; padding: 0 0.3125rem;"></span><span> @stats.OutfitRankName</span>
                    </div>
                }

            }

        </div>

        <div id="details-body" style="padding: 0px 10px; font-family: 'Roboto Mono';">
            @if (stats != null)
            {
                <div class="row" style="margin: initial;">
                    <div id="details-hourly-stats" class="col-sm-9" style="flex-basis: 70%; display: grid; grid-template-columns: 1fr 1fr 1fr 0.3125fr 2fr; grid-template-rows: 1rem 1fr; grid-template-areas: 'header header header header header' 'badge1 badge2 badge3 blank right' 'footer footer footer footer footer'; grid-gap: 0.3125rem 0rem; line-height: 1rem; padding: 0.5rem; margin: 0.3125rem 0; border-radius: 0.2rem; background-color: @(GetFactionLightAlphaColorFromId(stats.FactionId)); border-top: 2px solid @GetFactionLightColorFromId(stats.FactionId);">

                        <div style="margin: 0px; font-size: 1rem; grid-area: header;">
                            Hourly Stats
                        </div>

                        <div title="Kills Per Minute" style="grid-area: badge1; line-height: 1.1rem; margin: 0.3125rem; margin-left: 1rem; border: 1px solid @GetFactionColorFromId(player.FactionId)10; border-radius: 0.2rem; padding: 0.3125rem; width: 5rem; height: 3.5rem; background-color: @GetFactionLightColorFromId(player.FactionId);">
                            <div style="text-align: center; margin-top: 0.75rem; margin-right: 0.25rem; font-size: 1.5rem;">
                                @stats.KillsPerMinute
                                <div style="text-align: right; font-size: 0.8rem;">KPM</div>
                            </div>
                        </div>

                        <div title="Kill Death Ratio" style="grid-area: badge2; line-height: 1.1rem; margin: 0.3125rem; margin-left: 1rem; border: 1px solid @GetFactionColorFromId(player.FactionId)10; border-radius: 0.2rem; padding: 0.3125rem; width: 5rem; height: 3.5rem; background-color: @GetFactionLightColorFromId(player.FactionId);">
                            <div style="text-align: center; margin-top: 0.75rem; margin-right: 0.25rem; font-size: 1.5rem;">
                                @stats.KillDeathRatio
                                <div style="text-align: right; font-size: 0.8rem;">KDR</div>
                            </div>
                        </div>

                        <div title="Head Shot Ratio" style="grid-area: badge3; line-height: 1.1rem; margin: 0.3125rem; margin-left: 1rem; border: 1px solid @GetFactionColorFromId(player.FactionId)10; border-radius: 0.2rem; padding: 0.3125rem; width: 5rem; height: 3.5rem; background-color: @GetFactionLightColorFromId(player.FactionId);">
                            <div style="text-align: center; margin-top: 0.75rem; margin-right: 0.25rem; font-size: 1.5rem;">
                                @stats.HeadshotRatio<span style="font-size: 0.75rem;">%</span>
                                <div style="text-align: right; font-size: 0.8rem; margin-top: -0.25rem;">HSR</div>
                            </div>
                        </div>

                        <dl class="row" style="grid-area: right; margin: 0px;">
                            <dt class="col-sm-7 text-muted" style="padding: 0px;">Kills</dt>
                            <dd class="col-sm-3" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">@stats.Kills</dd>

                            <dt class="col-sm-7 text-muted" style="padding: 0px;">Deaths</dt>
                            <dd class="col-sm-3" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">@stats.Deaths</dd>

                            <dt class="col-sm-7 text-muted" style="padding: 0px;">Team Kills</dt>
                            <dd class="col-sm-3" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">@stats.TeamKills</dd>

                            <dt class="col-sm-7 text-muted" style="padding: 0px;">Suicides</dt>
                            <dd class="col-sm-3" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">@stats.Suicides</dd>
                        </dl>
                    </div>

                    <div id="details-session-stats" class="col-sm-8" style="flex-basis: calc(30% - 1rem); margin-left: 1rem !important; grid-template-rows: 1rem 1fr; max-width: calc(33.333333% - 1rem); display: grid; grid-template-columns: 1fr 1fr; grid-template-areas: 'header header' 'left right' 'footer footer'; grid-gap: 0.3125rem 0rem; line-height: 1rem; padding: 0.5rem; margin: 0.3125rem 0; border-radius: 0.2rem; background-color: @(GetFactionLightAlphaColorFromId(stats.FactionId)); border-top: 2px solid @GetFactionLightColorFromId(stats.FactionId);">
                        <div style="margin: 0px; font-size: 1rem; grid-area: header;">
                            Play Session
                        </div>

                        <div style="margin: 0px; font-size: 0.8rem; grid-column: 1 / 3; grid-row: 2;">
                            <div style="margin-bottom: 0.3125rem; padding-left: 15px;">@GetSessionDisplayTimes()</div>

                            <dl class="row" style="margin: 0px;">
                                <dt class="col-sm-7 text-muted">Duration</dt>
                                <dd class="col-sm-5" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">@GetSessionDurationDisplay()</dd>

                                <dt class="col-sm-7 text-muted">Kills</dt>
                                <dd class="col-sm-5" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">
                                    @if (stats.SessionKills == null)
                                    {
                                        <span>-</span>
                                    }
                                    else
                                    {
                                        <span>@stats.SessionKills</span>
                                    }
                                </dd>

                                <dt class="col-sm-7 text-muted">KPM</dt>
                                <dd class="col-sm-5" style="margin-bottom: 0px; padding-left: 0.3125rem; padding-right: 0px; text-align: right; font-size: 0.85rem;">
                                    @if (stats.SessionKills == null)
                                    {
                                        <span>-</span>
                                    }
                                    else
                                    {
                                        <span>@stats.SessionKillsPerMinute</span>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>
            }

            <div style="margin-top: 0.5rem;">

                @if (stats != null)
                {
                    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; border-top-left-radius: 0.2rem; border-bottom: 2px solid @GetFactionColorFromId(stats.FactionId)80;">
                        <button title="Open killboard view" class="btn btn-link" style="@GetViewTabStyle(PlayerDetailsView.kills) padding: 0rem !important;" @onclick="@(() => OnSelectNewView(PlayerDetailsView.kills))">Kills this Hour</button>
                        <button title="Open weapons view" class="btn btn-link" style="@GetViewTabStyle(PlayerDetailsView.weapons)  padding: 0rem !important;" @onclick="@(() => OnSelectNewView(PlayerDetailsView.weapons))">Weapons</button>
                        <button title="Open player head-to-head view" class="btn btn-link" style="@GetViewTabStyle(PlayerDetailsView.players)  padding: 0rem !important;" @onclick="@(() => OnSelectNewView(PlayerDetailsView.players))">Head-to-Head</button>
                        <button title="Open player loadouts view" class="btn btn-link" style="@GetViewTabStyle(PlayerDetailsView.loadouts)  padding: 0rem !important;" @onclick="@(() => OnSelectNewView(PlayerDetailsView.loadouts))">Classes</button>
                    </div>
                }

                @if ((view == viewTranslator[PlayerDetailsView.kills] && (isLoadingKillboard == true || kills == null))
                         || (view == viewTranslator[PlayerDetailsView.weapons] && (isLoadingWeapons == true || topWeaponsByKills == null || topWeaponsByDeaths == null))
                         || (view == viewTranslator[PlayerDetailsView.players] && (isLoadingHeadToHead == true || headToHeadSummary == null)))
                {
                    <SpinnerEllipsis />
                }


                @if (stats != null && !string.IsNullOrWhiteSpace(view) && view == viewTranslator[PlayerDetailsView.kills])
                {
                    @if (kills == null || isLoadingKillboard == true)
                    {
                        @*<p class="text-muted"><em>Loading killboard...</em></p>*@
                    }
                    else
                    {
                        <div style="max-height: 400px; overflow: auto; border-top: 0px solid @GetFactionColorFromId(stats.FactionId)80; border-bottom: 1px solid @GetFactionColorFromId(stats.FactionId)80; border-top-left-radius: 0.2rem; border-bottom-right-radius: 0.2rem; margin-bottom: 1.5rem;">
                            <table class="table-responsive-sm table" style="font-size: 0.85rem !important;">
                                <tbody style="font-size: small;">
                                    @foreach (var kill in kills)
                                    {
                                    <tr style="background-color:@GetRowBgColor(kill.VictimId, kill.VictimFactionId); color:@GetKillboardTextColor(kill.AttackerId, kill.AttackerFactionId, kill.VictimFactionId) !important; border-top: @GetKillboardBorderStyle(kill.VictimId);">
                                        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; min-width: 105px; max-width: 110px; width: 7rem; border: inherit;">
                                            @((kill.KillTimestamp - TimeSpan.FromHours(5)).ToLongTimeString())
                                        </td>

                                        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-left: 0.5rem; max-width: 30px;  width: 1rem; border: inherit;">
                                            @if (kill.VictimId == playerId)
                                            {
                                                @loadoutModels.Where(m => m.Id == (int)kill.AttackerLoadoutId).Select(m => m.CodeName).FirstOrDefault()
                                            }
                                            else
                                            {
                                                @loadoutModels.Where(m => m.Id == (int)kill.VictimLoadoutId).Select(m => m.CodeName).FirstOrDefault()
                                            }
                                        </td>

                                        <td style="padding: 0.1rem 0.3125rem 0.1rem 0; max-width: 55px; width: 1rem; border: inherit;">
                                            @if (kill.VictimId == playerId)
                                            {
                                                @((string.IsNullOrWhiteSpace(kill.AttackerOutfitAlias)) ? "" : $"[{kill.AttackerOutfitAlias}]")
                                            }
                                            else
                                            {
                                                @((string.IsNullOrWhiteSpace(kill.VictimOutfitAlias)) ? "" : $"[{kill.VictimOutfitAlias}]")
                                            }
                                        </td>

                                        <td style="padding: 0.1rem 0.75rem 0.1rem 0; border: inherit;">
                                            @if (kill.VictimId == playerId)
                                            {
                                                <button class="btn btn-link" style="font-size: 0.8rem; padding: 0rem !important; color:@GetKillboardTextColor(kill.AttackerId, kill.AttackerFactionId, kill.VictimFactionId) !important;" @onclick="@(() => OnSelectKillboardPlayer(kill.AttackerId, player.WorldId))">
                                                    <div style="display: inline-block; max-width: 250px; overflow: hidden; text-overflow: ellipsis;">@kill.AttackerName</div>
                                                    <div style="display: inline-block; vertical-align: super;">
                                                        <sup>
                                                            @(kill.AttackerBattleRank)
                                                            @if (stats.PrestigeLevel != 0)
                                                            {
                                                                <span class="oi oi-star small" style="top: -1px; margin-left: -0.1rem;" aria-hidden="true"></span>
                                                            }
                                                        </sup>
                                                    </div>
                                                    @*</a>*@
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-link" style="font-size: 0.8rem; padding: 0rem !important; color:@GetKillboardTextColor(kill.AttackerId, kill.AttackerFactionId, kill.VictimFactionId) !important;" @onclick="@(() => OnSelectKillboardPlayer(kill.VictimId, player.WorldId))">
                                                    <div style="display: inline-block; max-width: 250px; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom;">@kill.VictimName</div>
                                                    <div style="display: inline-block;">
                                                        <sup>
                                                            @(kill.VictimBattleRank)
                                                            @if (kill.VictimPrestigeLevel != 0)
                                                            {
                                                                <span class="oi oi-star small" style="top: -1px; margin-left: -0.1rem;" aria-hidden="true"></span>
                                                            }
                                                        </sup>
                                                    </div>
                                                    @*</a>*@
                                                </button>
                                            }
                                        </td>

                                        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-left: 0.5rem; max-width: 30px;  width: 1rem; border: inherit;">
                                            @if (kill.IsHeadshot == true)
                                            {
                                                <span class="oi small oi-target" aria-hidden="true" style="padding-left: 0.3125rem; padding-right: 0.3125rem;"></span>
                                            }
                                        </td>

                                        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; border: inherit;">
                                            @kill.AttackerWeaponName
                                        </td>

                                        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-left: 0.5rem; max-width: 30px;  width: 1rem; border: inherit;">
                                            @if (kill.VictimId == playerId)
                                            {
                                                @loadoutModels.Where(m => m.Id == (int)kill.VictimLoadoutId).Select(m => m.CodeName).FirstOrDefault()
                                            }
                                            else
                                            {
                                                @loadoutModels.Where(m => m.Id == (int)kill.AttackerLoadoutId).Select(m => m.CodeName).FirstOrDefault()
                                            }
                                        </td>

                                        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; border: inherit;">
                                            @kill.ZoneName
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }


            </div>


            @if (stats != null && !string.IsNullOrWhiteSpace(view) && view == viewTranslator[PlayerDetailsView.weapons] && isLoadingWeapons != true)
            {
                <div class="row" style="margin: initial; width: 100%; margin-top: 0.5rem; margin-bottom: 1.5rem;">
                    <div class="col-sm-6" style="line-height: 1rem; padding: 0.5rem; margin: 0.3125rem 0; border-radius: 0.2rem; background-color: @(GetFactionLightAlphaColorFromId(stats.FactionId)); border-top: 2px solid @GetFactionLightColorFromId(stats.FactionId); flex-basis: calc(50% - 0.3125rem); margin-right: 0.3125rem;">
                        <h5 style="font-size: 1rem; margin-bottom: 0.25rem">Top Weapons By Kills</h5>
                        @if (topWeaponsByKills != null && isLoadingWeapons != true)
                        {

                            <div style="max-height: calc(350px - 1.5rem); overflow: auto;">
                                <table class="table-responseive-sm table-striped-light @GetFactionClassFromId(stats.FactionId)" style="width: calc(100% - 0.75rem); font-size: 0.8rem !important; border-bottom: 0px solid @GetFactionLightColorFromId(stats.FactionId);">
                                    <thead style="vertical-align: bottom;">
                                        <tr>
                                            <th class="p-name"></th>
                                            <th>Kills</th>
                                            <th>HSR</th>
                                        </tr>
                                    </thead>
                                    @*</table>*@

                                    <tbody style="background-color: var(--sq-bs-white-lit);">
                                        @foreach (var weapon in topWeaponsByKills)
                                        {
                                            <tr style="color: @GetFactionColorFromId(weapon.FactionId)">
                                                <td>@weapon.WeaponName</td>
                                                <td>@weapon.Kills</td>
                                                <td>@weapon.HeadshotRatio</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>

                    <div class="col-sm-6" style="line-height: 1rem; padding: 0.5rem; margin: 0.3125rem 0; border-radius: 0.2rem; background-color: @(GetFactionLightAlphaColorFromId(stats.FactionId)); border-top: 2px solid @GetFactionLightColorFromId(stats.FactionId);">
                        <h5 style="font-size: 1rem; margin-bottom: 0.25rem">Top Weapons By Deaths</h5>
                        @if (topWeaponsByDeaths != null && isLoadingWeapons != true)
                        {

                            <div style="max-height: calc(350px - 1.5rem); overflow: auto;">
                                <table class="table-responseive-sm table-striped-light @GetFactionClassFromId(stats.FactionId)" style="width: calc(100% - 0.75rem); font-size: 0.8rem !important; border-bottom: 0px solid @GetFactionLightColorFromId(stats.FactionId);">
                                    <thead style="vertical-align: bottom;">
                                        <tr>
                                            <th class="p-name"></th>
                                            <th>Deaths</th>
                                            <th>HSR</th>
                                        </tr>
                                    </thead>

                                    <tbody style="background-color: var(--sq-bs-white-lit);">
                                        @foreach (var weapon in topWeaponsByDeaths)
                                        {
                                            <tr style="color: @GetFactionColorFromId(weapon.FactionId)">
                                                <td>@weapon.WeaponName</td>
                                                <td>@weapon.Kills</td>
                                                <td>@weapon.HeadshotRatio</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (stats != null && !string.IsNullOrWhiteSpace(view) && view == viewTranslator[PlayerDetailsView.players] && isLoadingHeadToHead != true)
            {
                <div class="row" style="margin: initial; width: 100%; margin-top: 0.5rem; margin-bottom: 1.5rem;">
                    <div class="col-sm-6" style="line-height: 1rem; padding: 0.5rem; margin: 0.3125rem 0; border-radius: 0.2rem; background-color: @(GetFactionLightAlphaColorFromId(stats.FactionId)); border-top: 2px solid @GetFactionLightColorFromId(stats.FactionId); flex-basis: calc(50% - 0.3125rem); margin-right: 0.3125rem; padding: 0;">
                        <h5 style="font-size: 1rem; margin-bottom: 0.25rem; padding: 0.5rem 0 0 0.5rem; width: 100%">Top Victims</h5>
                        @if (headToHeadSummary != null && headToHeadSummary.TopPlayersByKills.Any() == true && isLoadingHeadToHead != true)
                        {

                            <div style="max-height: calc(350px - 1.5rem); overflow: auto; padding: 0 0 0.5rem 0.5rem;">
                                <table class="table-responseive-sm table-striped-light @GetFactionClassFromId(stats.FactionId)" style="width: calc(100% - 0.75rem); font-size: 0.8rem !important; border-bottom: 1px solid @GetFactionLightColorFromId(stats.FactionId);">
                                    <thead style="vertical-align: bottom; line-height: 0.5rem;">
                                        <tr>
                                            <th class="p-name" style="padding-bottom: 0.5rem;"></th>
                                            <th style="padding-bottom: 0.5rem;">K</th>
                                            <th style="padding-bottom: 0.5rem;">D</th>
                                            <th class="stacked-label" title="Head-to-Head Kill-Death Ratio" style="padding-bottom: 0.5rem;">
                                                <span class="small" style="position: initial; margin-bottom: 0.1rem;">H2H</span>
                                                <span>KDR</span>
                                            </th>
                                            <th class="stacked-label" title="Head-to-Head Headshot Ratio" style="padding-bottom: 0.5rem;">
                                                <span class="small" style="position: initial; margin-bottom: 0.1rem;">H2H</span>
                                                <span>HSR</span>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var player in headToHeadSummary.TopPlayersByKills)
                                        {
                                            <tr style="color: @GetFactionColorFromId(player.VictimFactionId)">
                                                <td>@player.VictimName</td>
                                                <td>@player.AttackerKills</td>
                                                <td>@player.VictimKills</td>
                                                <td>@player.AttackerKillDeathRatio</td>
                                                <td>@player.AttackerHeadshotRatio</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>

                    <div class="col-sm-6" style="line-height: 1rem; padding: 0.5rem; margin: 0.3125rem 0; border-radius: 0.2rem; background-color: @(GetFactionLightAlphaColorFromId(stats.FactionId)); border-top: 2px solid @GetFactionLightColorFromId(stats.FactionId);">
                        <h5 style="font-size: 1rem; margin-bottom: 0.25rem;">Top Nemeses</h5>
                        @if (headToHeadSummary != null && headToHeadSummary.TopPlayersByDeaths.Any() == true && isLoadingHeadToHead != true)
                        {

                            <div style="max-height: calc(350px - 1.5rem); overflow: auto;">
                                <table class="table-responseive-sm table-striped-light @GetFactionClassFromId(stats.FactionId)" style="width: calc(100% - 0.75rem); font-size: 0.8rem !important;">
                                    <thead style="vertical-align: bottom; line-height: 0.5rem;">
                                        <tr>
                                            <th class="p-name" style="padding-bottom: 0.5rem;"></th>
                                            <th style="padding-bottom: 0.5rem;">K</th>
                                            <th style="padding-bottom: 0.5rem;">D</th>
                                            <th class="stacked-label" title="Head-to-Head Kill-Death Ratio" style="padding-bottom: 0.5rem;">
                                                <span class="small" style="position: initial; margin-bottom: 0.1rem;">H2H</span>
                                                <span>KDR</span>
                                            </th>
                                            <th class="stacked-label" title="Head-to-Head Headshot Ratio" style="padding-bottom: 0.5rem;">
                                                <span class="small" style="position: initial; margin-bottom: 0.1rem;">H2H</span>
                                                <span>HSR</span>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var player in headToHeadSummary.TopPlayersByDeaths)
                                        {
                                            <tr style="color: @GetFactionColorFromId(player.AttackerFactionId)">
                                                <td>@player.AttackerName</td>
                                                <td>@player.VictimKills</td>
                                                <td>@player.AttackerKills</td>
                                                <td>@player.VictimKillDeathRatio</td>
                                                <td>@player.VictimHeadshotRatio</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            }


            <PlayerLoadoutsDetailsView  playerId=@playerId isSelectedView=@isSelectedViewLoadouts/> @*(!string.IsNullOrWhiteSpace(view) && view == viewTranslator[PlayerDetailsView.loadouts])/>*@

        </div>

        <div id="details-footer" style="font-family: 'Roboto Mono'; position: absolute; bottom: 0.5rem; height: 1rem; line-height: 1rem;">
            <div>
                <a href="@GetUrlFromCharacterId(player.Id)" title="Open Voidwell player profile" class="text-muted" style="font-size: 0.8rem; padding-left: 0.8rem; font-weight: 400;" target="_blank"> @*margin-top: 0.1rem; >*@
                    @player.Id
                    <span class="h6 oi oi-external-link" style="font-size: 60%; opacity: 0.5;"></span>
                </a>
            </div>
        </div>
    }
}


@code {
    Character player;
    PlayerHourlyStatsData stats;

    PlayerKillboardItem[] kills;

    HourlyWeaponSummaryRow[] topWeaponsByKills;
    HourlyWeaponSummaryRow[] topWeaponsByDeaths;

    PlayerHourlyHeadToHeadSummary headToHeadSummary;

    Loadout[] loadoutModels;

    int fetchTries = 0;
    bool isLoadingKillboard = false;
    bool isLoadingCharacter = false;
    bool isLoadingStats = false;
    bool isLoadingWeapons = false;
    bool isLoadingHeadToHead = false;

    bool isSelectedViewKillboard = false;
    bool isSelectedViewWeapons = false;
    bool isSelectedViewHeadToHead = false;
    bool isSelectedViewLoadouts = false;


    [Parameter]
    public string playerId { get; set; }

    [Parameter]
    public string view { get; set; } = "kills";

    public Dictionary<PlayerDetailsView, string> viewTranslator = GetViewTranslator();


    string renderedPlayerId;

    [Parameter]
    public EventCallback<string> OnKillboardPlayerSelected { get; set; }

    private string killboardPlayerId;
    public string KillboardPlayerId
    {
        get => killboardPlayerId;
        set
        {
            killboardPlayerId = value;
            // Invoke the delegate passing it the changed value
            if (killboardPlayerId != renderedPlayerId)
            {
                OnKillboardPlayerSelected.InvokeAsync(value);
            }
        }
    }


    protected override void OnInitialized()
    {
        //InitializeViewTranslator();
        if (viewTranslator == null || viewTranslator.Count() == 0)
        {
            viewTranslator = GetViewTranslator();
        }

        if (string.IsNullOrWhiteSpace(view))
        {
            view = viewTranslator[PlayerDetailsView.kills];
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (loadoutModels == null || loadoutModels.Count() == 0)
        {
            loadoutModels = await Http.GetJsonAsync<Loadout[]>($"api/PlayerHourlyLoadouts/models/loadouts");
        }

        await OnPlayerIdChange();
    }

    protected override async Task OnParametersSetAsync()
    {
        if ((playerId != killboardPlayerId || playerId != renderedPlayerId) && !string.IsNullOrEmpty(playerId))
        {
            renderedPlayerId = playerId;
            killboardPlayerId = playerId;
            await OnPlayerIdChange();
        }
    }

    private void OnSelectKillboardPlayer(string newPlayerId, int newWorldId)
    {
        KillboardPlayerId = newPlayerId;
    }

    private async Task OnPlayerIdChange()
    {
        fetchTries += 1;
        if (!string.IsNullOrWhiteSpace(playerId) && isLoadingKillboard != true)
        {
            isLoadingKillboard = true;
            isLoadingWeapons = true;
            isLoadingHeadToHead = true;

            //var oldPlayer = player;
            //var oldKills = kills;
            //var oldStats = stats;


            /* DETAILS & KILLBOARD */
            try
            {
                Task<Character> playerTask = Http.GetJsonAsync<Character>($"api/PlayerDetails/{playerId}");
                Task<PlayerHourlyStatsData> statsTask = Http.GetJsonAsync<PlayerHourlyStatsData>($"api/PlayerDetails/stats/{playerId}");
                Task<PlayerKillboardItem[]> killsTask = Http.GetJsonAsync<PlayerKillboardItem[]>($"api/PlayerDetails/kills/{playerId}");

                //Task<HourlyWeaponSummaryRow[]> weaponKillsTask = Http.GetJsonAsync<HourlyWeaponSummaryRow[]>($"api/PlayerHourlyWeapons/weaponKills/{playerId}");

                player = await playerTask;
                //isLoadingCharacter = false;
                StateHasChanged();

                kills = await killsTask;
                //isLoadingKillboard = false;
                StateHasChanged();

                stats = await statsTask;
                //isLoadingStats = false;
                StateHasChanged();

                //topWeaponsByKills = await weaponKillsTask;
                //isLoadingWeapons = false;
                //StateHasChanged();
            }
            catch (Exception)
            {
                //Ignore
                //player = oldPlayer;
                //kills = oldKills;
                //stats = oldStats;
            }
            finally
            {
                isLoadingKillboard = false;
            }


            /* WEAPONS */
            try
            {
                Task<HourlyWeaponSummaryRow[]> weaponKillsTask = Http.GetJsonAsync<HourlyWeaponSummaryRow[]>($"api/PlayerHourlyWeapons/weapons/kills/{playerId}");
                Task<HourlyWeaponSummaryRow[]> weaponDeathsTask = Http.GetJsonAsync<HourlyWeaponSummaryRow[]>($"api/PlayerHourlyWeapons/weapons/deaths/{playerId}");

                topWeaponsByKills = await weaponKillsTask;
                topWeaponsByDeaths = await weaponDeathsTask;
                StateHasChanged();
            }
            catch (Exception)
            {
                //ignore
            }
            finally
            {
                isLoadingWeapons = false;
            }


            /* Player Head-To-Head */
            try
            {
                Task<PlayerHourlyHeadToHeadSummary> headToHeadTask = Http.GetJsonAsync<PlayerHourlyHeadToHeadSummary>($"api/PlayerHourlyHeadToHead/players/{playerId}");
                headToHeadSummary = await headToHeadTask;
                StateHasChanged();

            }
            catch (Exception)
            {
                //Ignore
            }
            finally
            {
                isLoadingHeadToHead = false;
            }
        }
    }

    void SetSelectedViewBools(PlayerDetailsView view)
    {
        isSelectedViewKillboard = (view == PlayerDetailsView.kills);
        isSelectedViewWeapons = (view == PlayerDetailsView.weapons);
        isSelectedViewHeadToHead = (view == PlayerDetailsView.players);
        isSelectedViewLoadouts = (view == PlayerDetailsView.loadouts);
    }

    string GetSessionDisplayTimes()
    {
        var startTime = GetSessionStartTime();
        var endTime = GetSessionEndTime();

        bool endIsNow = (endTime == stats.QueryNowUtc);
        bool sameDates = (startTime.Date == endTime.Date);
        var fiveHours = TimeSpan.FromHours(5);

        if (sameDates == true)
        {
            return endIsNow
                ? $"{(startTime - fiveHours).ToShortTimeString()} - Now"
                : $"{(startTime - fiveHours).ToShortTimeString()} - {(endTime - fiveHours).ToShortTimeString()}";
        }
        else
        {
            return endIsNow
                ? $"{(startTime - fiveHours).ToString("M")} {(startTime - fiveHours).ToShortTimeString()} - Now"
                : $"{(startTime - fiveHours).ToString("M")} {(startTime - fiveHours).ToShortTimeString()} - {(endTime - fiveHours).ToString("M")} {(endTime - fiveHours).ToShortTimeString()}";
        }

    }

    DateTime GetSessionStartTime()
    {
        return (stats.LatestLoginTime ?? stats.QueryStartTime);
    }

    DateTime GetSessionEndTime()
    {
        var sessionEndTime = (stats.LatestLogoutTime ?? stats.QueryNowUtc); // (playerStats.LatestLogoutTime != null) ? (playerStats.LatestLogoutTime ?? nowUtc) : nowUtc;

        if (sessionEndTime <= GetSessionStartTime())
        {
            sessionEndTime = stats.QueryNowUtc;
        }

        return sessionEndTime;
    }

    string GetSessionDurationDisplay()
    {
        var duration = (GetSessionEndTime() - GetSessionStartTime());

        var totalMinutes = (int)Math.Round(duration.TotalMinutes, 0);

        int hours = (totalMinutes / 60);

        var remainder = totalMinutes - (hours * 60);

        string hoursDisplay = (hours > 0) ? $"{hours}h" : string.Empty;
        string minutesDisplay = (remainder > 0) ? $"{remainder}m" : string.Empty;
        string space = (hours > 0 && remainder > 0) ? " " : string.Empty;

        return $"{hoursDisplay}{space}{minutesDisplay}";
    }

    string GetUrlFromCharacterId(string playerId)
    {
        //return $"https:/www.planetside2.com/players/#!/{killboardPlayerId}";
        return $"https:/voidwell.com/ps2/player/{playerId}";
    }

    string GetUrlFromCharacterName(string characterName)
    {
        return $"https:/ps2.fisu.pw/player/?name={characterName.ToLower()}";
    }

    string GetLoadoutAbbrevFromProfileTypeId(int profileTypeId)
    {
        switch (profileTypeId)
        {
            case 1:
                return "I";

            case 3:
                return "LA";

            case 4:
                return "CM";

            case 5:
                return "E";

            case 6:
                return "HA";

            case 7:
                return "MAX";

            default:
                return "??";
        }
    }

    string GetRowBgColor(string victimId, int? victimFactionId)
    {
        if (victimId == playerId)
        {
            return "#F9D3D6a0"; // ffe0f6af"; // F9D3D6"; // FFD2E350"; //FFD2D3";
        }
        else if (victimFactionId != null && victimFactionId == player.FactionId)
        {
            return "#FEF9BF";
        }
        else
        {
            return "";
        }
    }

    string GetKillboardTextColor(string attackerId, int? attackerFactionId, int? victimFactionId)
    {
        int? factionId = (attackerId == player.Id) ? victimFactionId : attackerFactionId;

        return GetFactionColorFromId(factionId);
    }

    string GetKillboardBorderStyle(string victimId)
    {
        return (victimId == player.Id) ? "1px solid #27273a50" : "1px solid rgb(222, 226, 230)";
    }

    string GetFactionColorFromId(int? factionId)
    {
        string color = "#27273A"; // 2F2F2F";

        switch (factionId)
        {
            //VS
            case 1:
                color = "#652fdc"; // 6A4CE0";
                break;

            //NC
            case 2:
                color = "#1e62fc"; // 1E99FC"; // 5700FE"; //1E99FC";
                break;

            //TR
            case 3:
                color = "#e04c70"; // FF6C70";
                break;
        }

        return color;
    }

    string GetFactionLightColorFromId(int? factionId)
    {
        string color = "var(--sq-ps2-ns-primary-light)"; //#a4a4c2"; // 27273A"; //"FFF2F0";

        switch (factionId)
        {
            //VS
            case 1:
                color = "var(--sq-ps2-vs-primary-light)"; //#CABCFF";
                break;

            //NC
            case 2:
                color = "var(--sq-ps2-nc-primary-light)"; //#B6DDFD";
                break;

            //TR
            case 3:
                color = "var(--sq-ps2-tr-primary-light)"; //#FFD2D3";
                break;
        }

        return color;
    }

    string GetFactionLightAlphaColorFromId(int? factionId)
    {
        string color = "var(--sq-ps2-ns-primary-light-alpha)"; //#a4a4c2"; // 27273A"; //"FFF2F0";

        switch (factionId)
        {
            //VS
            case 1:
                color = "var(--sq-ps2-vs-primary-light-alpha)"; //#CABCFF";
                break;

            //NC
            case 2:
                color = "var(--sq-ps2-nc-primary-light-alpha)"; //#B6DDFD";
                break;

            //TR
            case 3:
                color = "var(--sq-ps2-tr-primary-light-alpha)"; //#FFD2D3";
                break;
        }

        return color;
    }

    string GetFactionClassFromId(int? factionId)
    {
        string cssClass = "ns"; //table-striped-striped var(--sqp-ps2-ns-primary-light)"; //#a4a4c2"; // 27273A"; //"FFF2F0";

        switch (factionId)
        {
            //VS
            case 1:
                cssClass = "vs"; // var(--sqp-ps2-vs-primary-light)"; //#CABCFF";
                break;

            //NC
            case 2:
                cssClass = "nc"; // var(--sqp-ps2-nc-primary-light)"; //#B6DDFD";
                break;

            //TR
            case 3:
                cssClass = "tr"; // var(--sqp-ps2-tr-primary-light)"; //#FFD2D3";
                break;
        }

        return cssClass;
    }

    string GetViewTabStyle(PlayerDetailsView thisView)
    {
        if (viewTranslator[thisView] == view)
        {
            return $"grid-row: 1; background-color: {GetFactionLightColorFromId(stats.FactionId)}; color: var(--sq-black) !important; font-size: 1rem; border-bottom-left-radius: 0; border-bottom-right-radius: 0; text-decoration: none;"; // grid-column: 1; ";
        }
        else
        {
            int gridColumn = (thisView == PlayerDetailsView.kills || (view == viewTranslator[PlayerDetailsView.kills] && thisView == PlayerDetailsView.weapons)) ? 2 : 3;

            return $"grid-row: 1; background-color: transparent; color: var(--blue); font-weight: 400; font-size: 1rem;"; // grid-column: {gridColumn}; ";
        }
    }

    public void OnSelectNewView(PlayerDetailsView newView)
    {
        view = viewTranslator[newView];
        SetSelectedViewBools(newView);
        //StateHasChanged();
    }

    private static Dictionary<PlayerDetailsView, string> GetViewTranslator()
    {
        var views = new Dictionary<PlayerDetailsView, string>();
        views.Add(PlayerDetailsView.kills, "kills");
        views.Add(PlayerDetailsView.weapons, "weapons");
        views.Add(PlayerDetailsView.players, "players");
        views.Add(PlayerDetailsView.loadouts, "loadouts");

        return views;
    }

    public enum PlayerDetailsView
    {
        kills,
        weapons,
        players,
        loadouts
    }
}
