@page "/leaderboard"
@using squittal.LivePlanetmans.Shared.Models
@inject HttpClient Http

<h2>
    Live Activity
    @if (players != null)
    {
        <button class="btn btn-outline-primary btn-sm" @onclick="RefreshTable">
            <!--span class="oi small oi-reload" aria-hidden="true"></span--> Refresh
        </button>
    }
</h2>

<table class="table">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>KDR</th>
            <th>KPM</th>
        </tr>
    </thead>
    @if (players != null)
    {
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.PlayerId</td>
                    <td>@player.Kills</td>
                    <td>@player.Deaths</td>
                    <td>@player.KillDeathRatio</td>
                    <td>@player.KillsPerMinute</td>
                </tr>
            }
        </tbody>
    }
</table>

@if (players == null)
{

    <p><em>Loading...</em></p>
}

@code {
        PlayerHourlyStatsData[] players;
        bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        Task<PlayerHourlyStatsData[]> playersTask = Http.GetJsonAsync<PlayerHourlyStatsData[]>("api/PlayerLeaderboard");
        players = await playersTask;
        isLoading = false;
    }

    async void RefreshTable()
    {
        if (isLoading != true)
        {
            isLoading = true;
            Task<PlayerHourlyStatsData[]> playersTask = Http.GetJsonAsync<PlayerHourlyStatsData[]>("api/PlayerLeaderboard");
            players = await playersTask;
            isLoading = false;
        }
    }
}
