@page "/leaderboard"
@page "/leaderboard/{worldId}"
@using squittal.LivePlanetmans.Shared.Models
@using System.Timers
@using System.Linq
@inject HttpClient Http


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @*<p class="h1 display-4" style="color: var(--gray);">Live Activity
            @if (string.IsNullOrWhiteSpace(selectedWorldName))
            {
                <ServerSelectMenu selectedWorldId="@worldId" />
            }
            else
            {
                <ServerSelectMenu />
            }
        </p>*@
            <p class="h2 display-4">
                @if (!string.IsNullOrWhiteSpace(selectedWorldName))
                {
                    <span style="color: var(--pink)">@selectedWorldName Top Players</span>
                }
                else
                {
                    <span>Live Activity</span>
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" style="border-left: 1px solid #6c757d !important; border-radius: 0.2rem; margin: 5px; padding: 10px;">
            <div>
                @if (string.IsNullOrWhiteSpace(selectedWorldName))
                {
                    <ServerSelectMenu selectedWorldId="@worldId" />
                }
                else
                {
                    <ServerSelectMenu />
                }

                @if (players != null)
                {
                    <button class="btn btn-outline-primary btn-sm" @onclick="RefreshTableManual">Refresh</button>
                    <span class="text-muted" style="font-size: 0.8rem; vertical-align: bottom;">Last Refresh: @lastRefreshTime.ToLongTimeString()</span>
                }
                @if (isLoading == true)
                {
                    <span class="text-muted" style="font-size: 0.8rem; vertical-align: bottom;">(loading)</span>
                }
            </div>

            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <p><em>@errorMessage</em></p>
            }
            else if (players == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table-striped table-responsive-sm" style="width: inherit;">
                    <thead>
                        <tr>
                            <th style="padding-right: 5px;"></th> @*//Outfit*@
                            <th style="padding-right: 10px;">Player</th>
                            <th style="padding-right: 10px;">Kills</th>
                            <th style="padding-right: 10px;">Deaths</th>
                            <th style="padding-right: 10px;">KDR</th>
                            <th style="padding-right: 10px;">KPM</th>
                            <th style="padding-right: 10px;">HSR</th>
                            @*<th style="padding-right: 10px;">TKs</th>
                            <th style="padding-right: 10px;">Suicides</th>*@
                            <th style="padding-right: 10px;"></th>
                        </tr>
                    </thead>
                    @if (players != null)
                    {
                        <tbody style="font-size: 0.85rem !important;">
                            @foreach (var player in players)
                            {
                            <tr style="color:@GetFactionColorFromId(player.FactionId)">
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 0px;">
                                    @((string.IsNullOrWhiteSpace(player.OutfitAlias)) ? "" : $"[{player.OutfitAlias}]")
                                </td>
                                @if (string.IsNullOrWhiteSpace(player.PlayerName))
                                {
                                    <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.PlayerId</td>
                                }
                                else
                                {
                                    @*<td><a href="@GetUrlFromCharacterName(player.PlayerName)" target="_blank">@player.PlayerName</a></td>*@
                                    @*<td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.PlayerName</td>*@
                                    <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">
                                        <span>@player.PlayerName <sup> @(player.BattleRank) @((player.PrestigeLevel == 0) ? "" : $"~{player.PrestigeLevel}")</sup></span>
                                        @*@GetLeaderboardPlayerString(player)*@
                                    </td>
                                }
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.Kills</td>
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.Deaths</td>
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.KillDeathRatio</td>
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.KillsPerMinute</td>
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.HeadshotRatio</td>
                                @*<td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.TeamKills</td>
        <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">@player.Suicides</td>*@
                                <td style="padding-top: 0.1rem; padding-bottom: 0.1rem; padding-right: 10px;">
                                    <button class="btn btn-link" style="font-size: 0.8rem; padding: 0rem !important;" @onclick="@(() => OnSelectPlayer(player.PlayerId))">Select</button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    }
                </table>
            }
        </div>

        <div class="col-lg-5" style="border: 1px solid #6c757d !important; border-radius: 0.2rem; padding: 10px; margin: 5px;">
            <PlayerDetailsPanel characterId="@selectedPlayer" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
        <p></p>
        <p class="h4">Debug Info</p>
        <table class="table-sm table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Status:</b></td>
                    <td>@debugMessage</td>
                </tr>
                <tr>
                    <td><b>Auto-Refreshes</b></td>
                    <td>@autoRefreshCount</td>
                </tr>
                <tr>
                    <td><b>Last Refresh:</b></td>
                    <td>@lastRefreshTime.ToLongTimeString()</td>
                </tr>
                <tr>
                    <td><b>Query Start:</b></td>
                    <td>@queryStartTimestamp</td>
                </tr>
                <tr>
                    <td><b>Query End:</b></td>
                    <td>@queryEndTimestamp</td>
                </tr>
            </tbody>
        </table>
        </div>

    </div>
</div>


@code {
    [Parameter]
    public int worldId { get; set; } = 17;

    World[] worlds;
    string selectedWorldName = "";

    PlayerHourlyStatsData[] players;
    bool isLoading = false;
    DateTime lastRefreshTime;
    string errorMessage = "";

    Timer autoRefreshTimer;
    int autoRefreshCount = 0;
    string refreshSource = "";

    string debugMessage = "";
    string queryStartTimestamp = "";
    string queryEndTimestamp = "";

    string selectedPlayer = "";

    protected override async Task OnInitializedAsync()
    {
        debugMessage = "setting up server info";
        StateHasChanged();
        await SetUpWorlds();
        await ChangeSelectedWorld(worldId);
        StateHasChanged();

        debugMessage = "first load";
        StateHasChanged();
        await RefreshTable();
        debugMessage = "initial load complete";
    }

    protected override async Task OnParametersSetAsync()
    {
        await ChangeSelectedWorld(worldId);
    }

    async Task SetUpWorlds()
    {
        worlds = await Http.GetJsonAsync<World[]>("api/Worlds");
        if (worlds.Any() == true)
        {
            selectedWorldName = worlds.Where(w => w.Id == worldId).Select(w => w.Name).FirstOrDefault(); //"success1"; //= worlds.FirstOrDefault(w => w.Id == worldId).Name;
        }
        else
        {
            selectedWorldName = "test1";
        }
        await ChangeSelectedWorld(worldId);
    }

    async Task ChangeSelectedWorld(int newWorldId)
    {
        worldId = newWorldId;

        if (worlds.Any() == true)
        {
            selectedWorldName = worlds.Where(w => w.Id == worldId).Select(w => w.Name).FirstOrDefault(); //worlds.Where(w => w.Id == worldId).FirstOrDefault().Name; // "success2"; // worlds.FirstOrDefault(w => w.Id == worldId).Name;
        }
        else
        {
            selectedWorldName = "test2";
        }

        await RefreshTable();
    }

    async Task RefreshTableManual()
    {
        refreshSource = "manual";
        errorMessage = string.Empty;
        StateHasChanged();
        await RefreshTable();
    }

    async Task RefreshTable()
    {
        if (isLoading != true)
        {
            isLoading = true;
            debugMessage = "refreshing table";
            if (autoRefreshTimer != null)
            {
                debugMessage = "stopping timer";
                autoRefreshTimer.Stop();
                StateHasChanged();
            }

            try
            {
                Task<PlayerHourlyStatsData[]> playersTask = Http.GetJsonAsync<PlayerHourlyStatsData[]>($"api/PlayerLeaderboard/{worldId}");
                UpdateQueryDateTimes();
                players = await playersTask;
            }
            catch (Exception ex)
            {
                errorMessage = $"error: {ex}";
            }

            lastRefreshTime = (DateTime.Now.ToUniversalTime() - TimeSpan.FromHours(5));
            GetNewAutoRefreshTimer();
            isLoading = false;
            debugMessage = "refresh complete";
            StateHasChanged();
        }
    }

    void GetNewAutoRefreshTimer()
    {
        debugMessage = "getting new timer";
        autoRefreshTimer = new Timer(10000);
        autoRefreshTimer.Elapsed += async (sender, e) => await OnAutoRefreshTimeElapsed();
        autoRefreshTimer.AutoReset = true; //TODO: should this be false?
        autoRefreshTimer.Enabled = true;
    }

    async Task OnAutoRefreshTimeElapsed() //Object source, ElapsedEventArgs e)
    {
        debugMessage = "auto-refresh triggered";
        refreshSource = "auto";
        StateHasChanged();
        if (isLoading != true)
        {
            try
            {
                await RefreshTable();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                debugMessage = $"error: {ex}";
            }

        }
        autoRefreshCount += 1;
        debugMessage = "auto-refresh completed";
        StateHasChanged();
    }

    string GetUrlFromCharacterId(string characterId)
    {
        return $"https:/www.planetside2.com/players/#!/{characterId}";
    }

    string GetUrlFromCharacterName(string characterName)
    {
        return $"https:/ps2.fisu.pw/player/?name={characterName.ToLower()}";
    }

    void OnSelectPlayer(string characterId)
    {
        selectedPlayer = characterId;
    }

    void UpdateQueryDateTimes()
    {
        DateTime nowUtc = DateTime.UtcNow;
        DateTime startTime = nowUtc - TimeSpan.FromHours(1);

        if (nowUtc.Date == startTime.Date)
        {
            queryStartTimestamp = $"{startTime.ToLongTimeString()}";
            queryEndTimestamp = $"{nowUtc.ToLongTimeString()}";
        }
        else
        {
            queryStartTimestamp = $"{startTime.ToShortDateString()} {startTime.ToLongTimeString()}";
            queryEndTimestamp = $"{nowUtc.ToShortDateString()} {nowUtc.ToLongTimeString()}";
        }

        //queryDateTimes = $"nowUtc: {nowUtc.ToLongTimeString()} | startTime: {startTime.ToLongTimeString()}";
        StateHasChanged();
        //Task<string> datesTask = Http.GetJsonAsync<string>("api/PlayerLeaderboard");
        //queryDateTimes = await datesTask;
    }

    string GetFactionColorFromId(int factionId)
    {
        string color = "#2F2F2F";

        switch (factionId)
        {
            //VS
            case 1:
                color = "#6A4CE0";
                break;

            //NC
            case 2:
                color = "#1E99FC";
                break;

            //TR
            case 3:
                color = "#FF6C70";
                break;
        }

        return color;
    }

    string GetLeaderboardPlayerString(PlayerHourlyStatsData player)
    {
        string name = (!string.IsNullOrWhiteSpace(player.PlayerName)) ? player.PlayerName : player.PlayerId;

        string outfit = (!string.IsNullOrWhiteSpace(player.OutfitAlias)) ? $"[{player.OutfitAlias}]" : "";

        string br = (player.PrestigeLevel == 0) ? $"[BR {player.BattleRank}]" : $"[BR {player.BattleRank}*1]";

        //return $"{outfit} {name} {br}";
        return $"{name} {br}";
    }
}
